# Dependency directories
/node_modules/

# Environment variables file


# Log files
*.log

# User-specific files
npm-debug.log
yarn-error.log

# Editor directories
.vscode/
.idea/

# OS-specific files
Thumbs.db
.DS_Store
